<div class="page-content p-5" id="content">
    <!-- content -->
    <h2 class="display-4 text-white">Home...</h2>
    <p class="lead text-white mb-0">blablablabla.</p>
    <div class="separator"></div>
    <div class="row text-white">
      <div class="col-lg-7">
        <p class="lead">
          Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
          Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
          Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
          Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
          Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
        </p>
      </div>
    </div>
  </div>
  <!-- End content -->