<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-dark text-white">
      <div class="media d-flex align-items-center">
        <img src="../../../../assets/img/logo.jpg" alt="logo" width="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0 m-2">Expense</h4>
          <p class="font-weight-light text-muted mb-0 m-1">Management</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a routerLink="home" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link text-dark font-italic">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            About
        </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Management</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a routerLink="expense" class="nav-link text-dark font-italic">
            <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
            Expense
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="profile" class="nav-link text-dark font-italic">
            <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
            Profile
        </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  