<nav>
  <ul>
    <li><a class="dash" routerLink="home">Dashboard</a></li>
    <li><a class="dl_link" >Adicionar</a></li>
    <li><a class="perfil" routerLink="profile">Perfil</a></li>
  </ul>
  <ul class="dl_sub_dd">
    <li><h3>Categorias</h3></li>
    <li *ngFor="let categoria of categorias"><a (click)="loadSubcategorias(categoria)" class="dl_link2">{{ categoria.name }}</a></li>
    <li><button class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#addcategoria">Adicionar</button></li>
  </ul>
  <ul class="dl_sub_dd2">
    <li><h3>Sub-Categorias</h3></li>
    <li *ngFor="let sub of subcategorias"><a routerLink="expense">{{ sub.name }}</a></li>
    <li><button class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#addsubcategoria">Adicionar</button></li>
  </ul>
</nav>
<div class="modal fade" id="addcategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Adicionar Categoria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label for="name" data-error="wrong" data-success="right">Categoria</label>
          <i class="fas fa-user prefix grey-text"></i>
          <input [(ngModel)]="requestCategoria.name" type="text" class="form-control" id="name" name="name" aria-describedby="name">
          <div id="name" class="form-text"></div>
        </div>
        <div class="md-form mb-5">
          <label for="value" data-error="wrong" data-success="right">Categoria</label>
          <i class="fas fa-user prefix grey-text"></i>
          <input [(ngModel)]="requestCategoria.value" type="text" class="form-control" id="value" name="value" aria-describedby="value">
          <div id="value" class="form-text"></div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="saveCategorias()" type="submit" class="btn btn-indigo">Confirmar <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addsubcategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Adicionar Sub-Categoria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form3">Sub-Categoria</label>
          <i class="fas fa-user prefix grey-text"></i>
          <input [(ngModel)]="requestSubcategoria.name" type="text" class="form-control" id="name" name="name" aria-describedby="name">
          <div id="name" class="form-text"></div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="saveSubcategorias()" type="submit" class="btn btn-indigo">Confirmar <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

