ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  display: inline;
  background: #0d1642;
  width:30%;
  height: 100%;
}
ul li {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
h3{
  color:#FFF;
  text-align: center;
}
.dl_sub_dd2{
  background: #293262;
  display: none;
}
.dl_sub_dd{
  background: #1b2452;
  display: none;
}
ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #FFF;
  padding: 5px;
  text-align: center;
}
ul li button{
  display: block;
  text-decoration: none;
  color: #FFF;
  background: #5c5758;
  padding: 5px;
  border: 1px solid #ccc;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */
nav{
  height: 100%;
  width: 45%;
  position: fixed;
}

