.footer {
    position: fixed;
    bottom: 0;
    display: flex;
}

.footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer .logo{
    max-height: 32px;
}

.footer .title-group {
    padding-left: 15px;
}

.footer .title-group i {
    padding-left: 5px;
}