<div class="container">
    <h2>Lista de produtos</h2>
    <div class="table-responsive">
        <table class="table" *ngIf='produtos && produtos.lenght'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr ng*For='let produto of produto'>
                    <td>{{produtos.ID}}</td>
                    <td>{{produtos.Nome}}</td>
                    <td>{{produtos.Categoria}}</td>
                    <td>{{produtos.Quantidade}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>