<!-- content -->
<main class="page-content">
    <div class="page-content p-5" id="content">
        <h2 class="display-4 text-white">Págin De Gestão de Despesas</h2>
        <div class="separator"></div>
        <div class="row text-white">
          <div class="col-lg-7">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Despesa</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let exp of expenses">
                  <th scope="row">{{ exp.created_at }}</th>
                  <td>{{ exp.name }}</td>
                  <td>{{ exp.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</main>
<!-- End content -->
