<!-- content -->
<main class="page-content">
    <div class="page-content p-5" id="content">
        <h2 class="display-4 text-white">Págin De Gestão de Despesas, aqui pode ter o CRUD...</h2>
        <p class="lead text-white mb-0">blablablabla.</p>
        <div class="separator"></div>
        <div class="row text-white">
          <div class="col-lg-7">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</main>
<!-- End content -->
