.btn-rounded{
    width: 130px;
    height: auto;
    display: block;
    text-decoration: none;
    color: #FFF;
    background: #5c5758;
    padding: 5px;
    border: 1px solid #ccc;
    right: 9%;
    top: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }