<!-- content -->
<main class="page-content">
    <div class="page-content p-5" id="content">
        <h2 class="display-4 text-white">Págin De definição do perfil, podemos alterar nome, adicionar foto (se necessário) e mudar a senha...</h2>
        <p class="lead text-white mb-0">blablablabla.</p>
        <div class="separator"></div>
        <div class="row text-white">
            <p class="lead">
              Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
              Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
              Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
              Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
              Aqui nesta tela pode ter uma tabela ou o que quiserem <br><br>
            </p>
        </div>
      </div>
</main>
<!-- End content -->
