<!-- content -->
<br>
<br>
<br>
<br>
<br>
<form class="container forms">
  <div class="mb-3">
    <label for="name" class="form-label">User Name</label>
    <input [(ngModel)]="RequestProfile.name" type="text" class="form-control" id="name" name="name" aria-describedby="name">
    <div id="name" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input [(ngModel)]="RequestProfile.email" type="email" class="form-control" id="email" name="email" aria-describedby="email">
    <div id="email" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="RequestProfile.password" type="password" class="form-control" id="password" name="password">
  </div>
  <br>
  <button (click)="doManagementProfile()" type="submit" class="btn btn-primary">Atualizar dados</button>
  <br><br>
</form>
<!-- End content -->
